@model FactsGreet.Web.ViewModels.Articles.AllArticlesViewModel
@{
    ViewBag.Title = "Feed";
}

<partial name="_PaginationPartial" model="Model.PaginationViewModel"/>

@foreach (var article in Model.Articles)
{
    <div class="mb-5">
        <partial name="_CompactArticlePartial" model="article" />
    </div>
}

<partial name="_PaginationPartial" model="Model.PaginationViewModel"/>