@model ICollection<FactsGreet.Web.ViewModels.Articles.CompactArticleViewModel>
@{
    this.ViewData["Title"] = "Feed";
}

@foreach (var article in Model)
{
    <div class="mb-5">
        <partial name="_CompactArticlePartial" model="article" />
    </div>
}