@model FactsGreet.Web.ViewModels.Articles.ArticleViewModel
@addTagHelper *, Westwind.AspNetCore.Markdown
@{
    this.ViewData["Title"] = Model.Title;
}
<div class="row">
    <h1 class="col-auto">@Model.Title</h1>
    <div class="col"></div>
    <h3 class="col-auto">⭐: @Model.FansCount</h3>
</div>
<div class="row">
    <markdown normalize-whitespace="true" markdown="@Model.Content"/>
</div>