@using FactsGreet.Common
@model FactsGreet.Web.ViewModels.Articles.ArticleCreateInputModel

@{
    ViewBag.Title = "Create article";
}

<h2>Create new article</h2>
<form asp-controller="Articles" asp-action="Create" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl col-lg col-md col-sm-12">
                <div class="form-group">
                    <label asp-for="Title"></label>
                    <input asp-for="Title"
                           class="form-control"
                           placeholder="Greatest Article">
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description"></label>
                    <textarea asp-for="Description" class="form-control" rows="3"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div class="col-auto">
                <img id="preview-img"
                     src="@GlobalConstants.DefaultThumbnailLink"
                     class="rounded"
                     style="width: 200px;height: 200px"
                     alt=""/>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ThumbnailLink"></label>
        <input class="form-control"
               id="thumbnail-link-input"
               placeholder="https://picsum.photos/200"
               asp-for="ThumbnailLink">
        <span asp-validation-for="ThumbnailLink" class="text-danger"></span>
        <p>
            <small>or upload image (up to 500kb)</small>
        </p>
        <label asp-for="ThumbnailImage"></label>
        <input asp-for="ThumbnailImage"
               class="form-control"
               id="thumbnail-image-input">
        <span asp-validation-for="ThumbnailImage" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Content"></label>
        <textarea id="content-textarea" asp-for="Content" class="form-control" rows="10"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Categories"></label>
        <span asp-validation-for="Categories" class="text-danger"></span>
        <a id="add-category-btn" class="btn btn-success">
            Add
        </a>
        <div id="category-rows">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-auto">
                <button class="btn btn-success">Create</button>
            </div>
            <div class="col"></div>
            <div class="col-auto">
                <button class="btn btn-light">Preview</button>
            </div>
        </div>
    </div>
</form>

@section StyleLinks
{
    <link href="~/lib/simplemde/dist/simplemde.min.css" rel="stylesheet" asp-append-version="true"/>
}

@section Scripts
{
    <script src="~/lib/simplemde/dist/simplemde.min.js" asp-append-version="true"></script>
    <script src="~/js/articles/create.js" asp-append-version="true"></script>
}