@model FactsGreet.Web.ViewModels.Articles.SearchArticlesViewModel
@{
    ViewBag.Title = "Search";
}

<h2>Search results for: @this.Model.Slug</h2>
<partial name="_PaginationPartial" model="Model.PaginationViewModel"/>

@foreach (var article in Model.Articles)
{
    <div class="mb-5">
        <partial name="_CompactArticlePartial" model="article"/>
    </div>
}

<partial name="_PaginationPartial" model="Model.PaginationViewModel"/>
