@model FactsGreet.Web.ViewModels.Edits.EditViewModel
@{
    ViewBag.Title = Model.ArticleTitle;
}

@Model.EditorUserName

@foreach (var modification in Model.Modifications)
{
    <div>index: @modification.Index</div>
    <div>text: @modification.Text</div>
    <div>operation: @modification.Operation</div>
}
