@using FactsGreet.Common
@model FactsGreet.Web.ViewModels.Administration.Dashboard.AdminRequestViewModel

@{
    ViewBag.Title = $"Admin Request of: {Model.RequestSenderEmail}";
}

<div class="container">
    <div class="row">
        <div class="col">
            <h3>Admin Promotion Request: </h3>
            <div class="form-group">
                <label for="username-link">User</label>
                <a id="username-link"
                   asp-route="profile_index"
                   asp-all-route-data="new { email = Model.RequestSenderEmail }.ToDictionary()"
                   class="btn btn-secondary">
                    @Model.RequestSenderEmail
                </a>
            </div>
            <div class="form-group">
                <label asp-for="MotivationalLetter"></label>
                <textarea class="form-control" asp-for="MotivationalLetter" rows="5" disabled></textarea>
            </div>
        </div>
    </div>
    <div class="row my-3">
        <div class="col"></div>
        <div class="col-auto">
            <form class="form-inline" method="post">
                <button class="btn btn-success"
                        asp-area=""
                        asp-controller="Profiles"
                        asp-action="AddToRole"
                        asp-route-email="@Model.RequestSenderEmail"
                        asp-route-role="@GlobalConstants.AdministratorRoleName">
                    Promote
                </button>
            </form>
        </div>
        <div class="col"></div>
    </div>
</div>
