@model FactsGreet.Web.ViewModels.Administration.Dashboard.AdminRequestsViewModel

@{
    ViewBag.Title = "Admin Requests";
}

<div class="container">
    <div class="row">
        <div class="col">
            <h2>@ViewBag.Title</h2>
        </div>
    </div>
    <div class="row">
        <div class="list-group col">
            @foreach (var request in Model.Requests)
            {
                <a asp-controller="Dashboard"
                   asp-action="AdminRequest"
                   asp-route-id="@request.Id"
                   class="list-group-item list-group-item-action">
                    <span class="text-primary">
                        [
                        <span class="utc-to-local">@request.CreatedOn.ToString("R")</span>
                        ]
                    </span>
                    @request.RequestSenderEmail requested admin promotion
                </a>
            }
        </div>
    </div>
    <div class="row">
        <partial name="_CompactPaginationPartial" model="Model.CompactPaginationViewModel"/>
    </div>
</div>
