@using FactsGreet.Common
@using FactsGreet.Web.Controllers
@using FactsGreet.Web.Infrastructure
@model FactsGreet.Web.ViewModels.Administration.Dashboard.ArticleDeletionRequestViewModel
@{
    ViewBag.Title = $"Delete {Model.Article.Title}";
}

<div class="container">
    <div class="row">
        <div class="col">
            <h3>Article Deletion Request: </h3>
            <h4>@Model.Id</h4>
            <div class="form-group">
                <label for="username-link">User</label>
                <a id="username-link"
                   asp-route="@(Helpers.GetRouteNames<ProfilesController>(nameof(ProfilesController.Index)).FirstOrDefault())"
                   asp-all-route-data="new { email = Model.ArticleAuthorUserName }.ToDictionary()"
                   class="btn btn-secondary">
                    @Model.ArticleAuthorUserName
                </a>
            </div>
            <div class="form-group">
                <label asp-for="Reason"></label>
                <textarea class="form-control" asp-for="Reason" rows="5" disabled></textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4>Article:</h4>
            <partial name="_CompactArticlePartial" model="Model.Article"/>
        </div>
    </div>
    <div class="row my-3">
        <div class="col"></div>
        <div class="col-auto">
            <form class="form-inline" method="post">
                <button class="btn btn-danger"
                        asp-area=""
                        asp-controller="Articles"
                        asp-action="Delete"
                        asp-route-id="@Model.ArticleId">
                    Delete
                </button>
            </form>
        </div>
        <div class="col"></div>
    </div>
</div>
