@model ICollection<FactsGreet.Web.ViewModels.Home.FeedViewModel>
@{
    this.ViewData["Title"] = "Feed";
}
<div id="app">
    <partial name="Partials/_FeedPartial" model="Model"/>
</div>

<div class="row">
    <div class="col"></div>
    <div class="col-auto">
        <button id="load-more-btn" class="btn btn-dark">Load more...</button>
    </div>
    <div class="col"></div>
</div>

@section Scripts
{
    <script src="~/js/home/feed.js" asp-append-version="true"></script>
}