@using FactsGreet.Common
@{
    ViewBag.Title = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@GlobalConstants.SystemName</h1>
    <img src="~/images/home-page-logo.png"/>
    <p>A platform where articles are facts and the community is social</p>
    <form class="form-inline justify-content-center my-2 my-lg-0"
          asp-area=""
          asp-controller="Articles"
          asp-action="Search"
          method="get">
        <input class="form-control mr-sm-2" 
               type="search" 
               placeholder="Search"
               aria-label="Search"
               name="slug">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
    </form>
</div>
