@if (ViewBag.ErrorMessages is { })
{
    foreach (var errorMessage in ViewBag.ErrorMessages)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            @errorMessage
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
}
else if (ViewBag.ErrorMessage is { })
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        @ViewBag.ErrorMessage
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}