@model ICollection<FactsGreet.Web.ViewModels.Edits.EditWithCompactArticleViewModel>

@foreach (var feedModel in Model)
{
    <div class="rounded border-top mb-5">
        <small>@feedModel.EditorUserName @(feedModel.IsCreation ? "created" : "edited") an article</small>
        <partial name="_CompactArticlePartial" model="feedModel.Article"/>
    </div>
}