@using FactsGreet.Common
@using FactsGreet.Web.Controllers
@using FactsGreet.Web.Infrastructure
@model ICollection<FactsGreet.Web.ViewModels.Edits.EditWithCompactArticleViewModel>

@foreach (var feedModel in Model)
{
    <div class="rounded border-top mb-5 edit-card" id="@feedModel.Id">
        <span>
            <a asp-route="@(Helpers.GetRouteNames<ProfilesController>(nameof(ProfilesController.Index)).FirstOrDefault())" 
               asp-all-route-data="new { email = feedModel.EditorUserName }.ToDictionary()">
                @feedModel.EditorUserName
            </a>
            @(feedModel.IsCreation ? "created" : "edited") an article
        </span>
        <partial name="_CompactArticlePartial" model="feedModel.Article"/>
    </div>
}
