@using FactsGreet.Common
@using FactsGreet.Data.Models
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (this.SignInManager.IsSignedIn(this.User))
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle mr-2"
               href="#"
               id="profile-dropdown"
               role="button"
               data-toggle="dropdown"
               aria-haspopup="true"
               aria-expanded="false">
                <img class="img-fluid d-none d-md-inline d-lg-none" src="~/images/user.png" alt="Profile">
                <span class="d-inline d-md-none d-lg-inline">
                    Hello @(this.User.Identity?.Name)!
                </span>
            </a>
            <div class="dropdown-menu" aria-labelledby="profile-dropdown">
                <a class="dropdown-item"
                   asp-area=""
                   asp-controller="Profiles"
                   asp-action="Index"
                   asp-route-email="@this.User.FindFirstValue(ClaimTypes.Email)">
                    View
                </a>
                <a class="dropdown-item"
                   asp-area="Identity"
                   asp-page="/Account/Manage/Index">
                    Manage
                </a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link"
               asp-area=""
               asp-controller="Conversations"
               asp-action="Index">
                <img class="d-none d-md-inline d-lg-none" src="~/images/message.png" alt="Profile">
                <span class="d-inline d-md-none d-lg-inline">
                    Messages
                </span>
            </a>
        </li>
        <li  id="messages-count" class="nav-item text-danger">
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle mr-2"
               href="#"
               id="files-dropdown"
               role="button"
               data-toggle="dropdown"
               aria-haspopup="true"
               aria-expanded="false">
                <img class="img-fluid d-none d-md-inline d-lg-none" src="~/images/files.png" alt="Profile">
                <span class="d-inline d-md-none d-lg-inline">
                    Files
                </span>
            </a>
            <div class="dropdown-menu" aria-labelledby="files-dropdown">
                <a class="dropdown-item"
                   asp-area=""
                   asp-controller="Files"
                   asp-action="All">
                    All
                </a>
                <a class="dropdown-item"
                   asp-area=""
                   asp-controller="Files"
                   asp-action="Upload">
                    Upload
                </a>
            </div>
        </li>
        if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
        {
            <li class="nav-item">
                <a class="nav-link text-dark"
                   asp-area="Administration"
                   asp-controller="Dashboard"
                   asp-action="Index">
                    Administration
                </a>
            </li>
        }
        <li class="nav-item">
            <form class="form-inline"
                  asp-area="Identity"
                  asp-page="/Account/Logout" asp-route-returnUrl="@(this.Url.Action("Index", "Home", new { area = string.Empty }))">
                <button type="submit" class="nav-link btn btn-link text-danger">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-primary"
               asp-area="Identity"
               asp-page="/Account/Register">
                Register
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-primary"
               asp-area="Identity"
               asp-page="/Account/Login">
                Login
            </a>
        </li>
    }
</ul>
